body {
  font-size: 14px;
  background-color: #f5f5f5
}
.blue {
  color: #33aaff;
}
.linearLayout {
  position:relative;
  width:100%;
  height:auto;
}
.page_layout {
  width: 100%;
  height: auto;
  padding: 0 14px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  box-sizing: border-box;
}
.page_layout .hgroup {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 15px;
  align-items: center;
  border-bottom: 1px dashed #e5e5e5;
}
.page_layout .hgroup .icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.page_layout .hgroup .icon img{
  width:100%;
}
.page_layout .hgroup .tit {
  height: 20px;
  padding-left: 10px;
  flex: 1;
}
.page_layout .hgroup .aside {
  height: 20px;
  flex: 2;
  text-align: right
}
.page_layout .content {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 0;
  box-sizing: border-box;
}
.page_layout .content .sub_hgroup {
  overflow:hidden;
}
.page_layout .content .sub_hgroup .bg_tit {
  width: 100%;
  min-height: 35px;
  font-size: 14px;
  line-height: 25px;
  padding:0 5px;
  background-color: #f5f5f5;
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  box-sizing:border-box;
}
.page_layout .content .sub_hgroup .sub_tit, 
.page_layout .content .sub_hgroup .time {
  height: auto;
  line-height: 30px;
  float:left;
}
.page_layout .content .sub_hgroup .time {
  float:right;
}
.page_layout .concat {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.page_layout .mobile, .page_layout .emial {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content:flex-start;
  text-align:left;
}
.page_layout .concat .icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.page_layout .concat .icon img{
  width:100%;
  }
.page_layout .concat .tit {
  height: 20px;
  padding-left: 10px;
  flex: 1;
}
.personal_detail {
  display: flex;
  flex-direction: column;
  border-top:none;
}
.personal_detail .aside {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.personal_detail .ziliao {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal_detail .ziliao .zl_left {
  padding-right: 20px;
  flex:1;
}
.personal_detail .ziliao .zl_left .day, .personal_detail .ziliao .zl_left .date {
  float:left;
  height: 24px;
  line-height:26px;
}
.personal_detail .ziliao .zl_left .addr {
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  justify-content: space-between;
  align-items: space-between;
}
.personal_detail .ziliao .zl_left .addr .item {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  line-height: 20px;
}
.personal_detail .ziliao .zl_left .addr .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.personal_detail .ziliao .zl_left .addr .icon img{
  width:100%;
}
.personal_detail .photo {
  position: relative;
  width: 60px;
  height: 60px;
}
.personal_detail .photo img {
  border-radius: 55px;
}
.personal_detail .photo .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
}
.personal_detail .aside .tit {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.personal_detail .aside .work {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  flex-wrap:wrap;
}
.personal_detail .aside .work div:nth-child(1) {
     word-break: break-all;
    word-wrap: break-word;
}
.personal_detail .aside .work .price {
  display: flex;
  height: 30px;
  justify-content: space-between;
  line-height: 30px;
}

.personal_detail .aside .work .price .icon{
  width:22px;
  height:22px;
}
.personal_detail .aside .work .price .icon img{
  width:100%;
}
.personal_detail .tuijian {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
}
.personal_detail .tuijian .name {
  width: 70px;
}
.personal_detail .tuijian .value {
  height: 30px;
  color: #333;
  padding: 0 10px;
  border: 1px solid #ff7f00;
  color: #ff7f00;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
  box-sizing: border-box;
}
.zhedie {
  position: relative;
  width:100%;
  height:326px;
  overflow:hidden;
}
.zhedie .extend {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #33aaff;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff 26%, #fff 100%);
  align-items: center;
  justify-content: center;
}
.zhedie .extend .btn {
  display: flex;
  width: 160px;
  height: 32px;
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-sizing:border-box;
}
.zhedie .extend .btn .icon{
  display: flex;
  width: 20px;
  height: 22px;
  margin-top:3px;
  background:url('../../images/icon/23.png');
  background-size:100% 100%;
}

@media all and (max-device-width:320px) {
  .page_layout .content .sub_hgroup .time {
    font-size:12px;
  }
}